* {
  box-sizing: border-box;
  margin: 0;
  font-family: Raleway, sans-serif;
  color: white !important;
  text-decoration: none !important;
}

nav, section, footer {
  background-color: rgba(245, 245, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 2rem;
}

section, footer {
  padding: 20px;
  margin: 20px 0;
}

body {
  background-color: blue;
  background: url(../images/glassbg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  padding: 0 2rem 2rem; 
}

header {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

nav {
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-areas: 'title . nav';
  align-items: center;
  font-weight: bold;
}

nav h1 {
  font-size: 1.5rem;
  padding: 0 25px;
}

.logo {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

nav ul {
  grid-area: nav;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.menubtn {
  grid-area: menu;
  display: none;
  background-color: transparent;
  border: none;
  z-index: 10;
}

section p {
  padding: 0 .2rem 1rem;
}

.skills, .projects {
  width: 48%;
  height: 17rem;
}

.skills {
  float: left;
}

.icon {
  width: 2rem;
  height: 2rem;
  padding: 0 .1rem;
}

.iconli {
  list-style: none;
  margin-bottom: 10px;
}

.iconli {
  transform: translateX( -20px);
}

.iconli img {
  transform: translateY(15px);
}

details p {
  font-size: .8rem;
  transform: translateY(1.25rem);
}

section ul li {
  padding: 2px;
}

.projects {
  float: right;
}

footer {
  width: 100%;
  float: left;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

footer ul li div a, footer ul li div img {
  float: left;
  padding: 0 5px;
}

footer ul li div a {
  transform: translateY(.3rem);
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
  nav ul {
    display: none;
  }
  nav h1 {
    font-size: 2.5rem;
  } 
  .menubtn {
    display: block;
  }
  nav {
    grid-template-areas: 'title . menu';
  }

  .skills, .projects {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}