* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  :root {
    font-size: 15px;
    color-scheme: light dark;
  }
  body {
    background: aliceblue;
    padding: 0 2rem 2rem;
    font-family: sans-serif;
    color: #000;
  }

  nav {
    width: 95%;
    height: 75px;
    position: absolute;
    padding: 1rem;
    top: 0;
    left: 2.5%;
    display: grid;
    grid-template-areas: 'title . nav';
    align-items: center;
    font-weight: bold;
    z-index: 10;
  }
  
  nav h1 {
    grid-area: title;
    font-size: 36px;
  }
  nav ul {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    list-style-type: none;
    border-radius: 50px;
    background: #efefff;
    box-shadow:  21px 21px 42px #bfbfcc,
                -21px -21px 42px #ffffff;
  }
  
  nav ul li {
    cursor: pointer;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
  }
  
   .menubtn {
    grid-area: menu;
    display: none;
    background-color: transparent;
    border: none;
    z-index: 10;
  }
  .menu {
    float: right;
  }
  /* make nav with my name as logo */
  #modeswitch {
    display: none;
  }
  
  header { 
    height: 25rem;
    margin-top: 100px;
  }
  /* If I remove height it kills bg-banner and still looks cool */
  header, section {
    border-radius: 37px;
    background: #efefff;
    box-shadow:  21px 21px 42px #bfbfcc,
                -21px -21px 42px #ffffff;
  }
  
  .bg_banner {
    background-color: aliceblue;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: 30%;
    position: relative;
    height: 50%;
    width: 100%;
  }
  
  .bg_banner img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: calc(100% - 5rem);
    left: 5%;
  } 
  
  .headline {
    padding: 1rem;
  }
  
  .headline h1 {
    margin: 0 0 0 16rem;
    font-size: 2.25rem; 
  }
  
  .headline h6 {
    font-size: 1.1rem;
    margin: 2rem 0;
    padding: .5rem;
  } 

.skills {
    height: 17rem;
}

  .skills ul {
    width: 40%;
    margin: 1rem;
    float: left;
    transform: translateY(-2.2rem);
  }

  .skills ul li {
    padding: 2px;
  }

  section {
    padding: 20px;
    margin: 20px 0;
  }
  
  section h1 {
    font-size: 3rem;
    color: #078e99;
    margin-bottom: 1.5rem;
  }
  
  .about p {
    padding: 0 .2rem 1rem;
  }
  
  section h4 {
    font-weight: normal;
  }
  
  section h4 strong {
    color: #09c1d0;
  }
  
  .listdiv {
    padding: 1rem;
    margin: .5rem;
    position: relative;
  }
  
  .about .listdiv h1 {
    height: 100px;
  }
  
  .listdiv ul li {
    padding: 10px;
  }
  
  @media screen and (min-width: 1200px) {
    :root {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 1200px) {
    :root {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 750px) {
    :root {
      font-size: 10px;
    }
    nav ul {
      display: none;
    }
    nav h1 {
      font-size: 40px;
    } 
    .menubtn {
      display: block;
    }
    nav {
      grid-template-areas: 'title . menu';
    }
  }
  @media screen and (max-width: 450px) {
    :root {
      font-size: 8px;
    }
  }