* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 15px;
  color-scheme: light dark;
}
body {
  /*background: aliceblue;*/
  background: light-dark(aliceblue, #00002e);
  padding: 25px;
  font-family: sans-serif;
}

footer {
  width: 100%;
}

#modeswitch {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: light-dark(aliceblue, #00002e);
}

header { 
  height: 30rem;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

header, section {
  border:  2px solid grey;
  border-radius: 2rem;
  background-color: light-dark(white, black);
  color: light-dark(#000, #FFF);
}

.bg_banner {
  background-color: aliceblue;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: 30%;
  position: relative;
  height: 50%;
  width: 100%;
}

.bg_banner img {
  border-radius: 50%;
  border: light-dark(#000, #FFF) double 10px;
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: calc(100% - 5rem);
  left: 5%;
} 

.headline {
  padding: 1rem;
}

.headline h1 {
  margin: 0 0 0 16rem;
  font-size: 3rem; 
}

.headline h6 {
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: .5rem;
} 

.skills {
  display: flex;
  border-top: solid 1px grey;
}

.skills ul {
  width: 50%;
  float: left;
  margin: 2rem;
}

section {
  border: grey solid 1px;
  padding: 20px;
  border-radius: 2rem;
  margin: 20px 0;
}

section h1 {
  font-size: 3rem;
  color: #078e99;
  margin-bottom: 2rem;
}

.about p {
  padding: 0 .2rem 1rem;
}

section h4 {
  font-weight: normal;
}

section h4 span {
  color: #09c1d0;
  font-weight: bold;
}

.listdiv {
padding: 20px;
margin: .5rem;
}

.listdiv ul {
  padding: 5px;
}

.listdiv ul li {
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
}