* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg-color: #000026;
  --bg-color-2: rgb(0, 0, 87);
  --accent: rgb(51, 201, 148);
}

body {
  background: var(--bg-color);
  cursor: none;
}

.container {
  padding: 20px;
  margin: 20px 0;
  justify-content: space-around;
  max-width: 85vw;
  transform: translateX(7.5vw);
}

.container section {
  background-color: var(--bg-color-2);
}

.about:hover, .skills:hover {
  box-shadow: 0px 0px 20px var(--accent);
  transition: 0.5s;
}

.cursor-glow {
  width: 10px;
  height: 10px;
  background-image: radial-gradient(#33c994, #33c99400);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 10px rgba(51, 201, 148, 0.573);
  transition: transform 0.1s ease;
  z-index: 99;
}