* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  font-size: 15px;
  color-scheme: light dark;
}
body {
  background: light-dark(aliceblue, #00002e);
  padding: 0 2rem 2rem;
  font-family: sans-serif;
  color: light-dark(#000, #FFF);
}
.light {
  color-scheme: light;
}
.dark {
  color-scheme: dark;
}

nav {
  width: 95%;
  height: 75px;
  position: absolute;
  padding: 1rem;
  top: 1rem;
  left: 2.5%;
  display: grid;
  grid-template-areas: 'title . nav';
  font-weight: bold;
  z-index: 10;
}

nav h1 {
  grid-area: title;
  font-size: 36px;
}
nav ul {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav ul li, .mobileNav li {
  cursor: pointer;
}

nav ul li a, .mobileNav li a {
  color: light-dark(#000, #FFF);
  text-decoration: none;
  
}
 .menubtn {
  grid-area: menu;
  display: none;
  background-color: transparent;
  border: none;
  z-index: 10;
}
.menu {
  float: right;
}
/* make nav with my name as logo */
#modeswitch {
  padding: .2rem;
  font-size: 2.5rem;
  border: none;
  border-radius: .5rem;
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
}

.none {
  display: none;
}

.mobileNav {
  width: 100%;
  height: calc(100vh - 75px);
  position: fixed;
  top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 9;
  list-style-type: none;
  background-color: light-dark(aliceblue, #00002e);
  font-size: 3rem;
}

header { 
  height: 25rem;
  margin-top: 125px;
}
/* If I remove height it kills bg-banner and still looks cool */
header, section {
  border:  2px solid grey;
  border-radius: 2rem;
  background-color: light-dark(white, black);
}

.bg_banner {
  background-color: aliceblue;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: 30%;
  position: relative;
  height: 50%;
  width: 100%;
}

.bg_banner img {
  border-radius: 50%;
  border: light-dark(darkgoldenrod, aliceblue) double 10px;
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: calc(100% - 5rem);
  left: 5%;
} 

.headline {
  padding: 1rem;
}

.headline h1 {
  margin: 0 0 0 16rem;
  font-size: 2.25rem; 
}

.headline h6 {
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: .5rem;
} 

.skills {
  display: flex;
  border-top: solid 1px grey;
}

.skills ul {
  width: 50%;
  margin: 1.5rem;
  transform: translate(-8rem, 3rem);
}

section {
  border: grey solid 1px;
  padding: 20px;
  border-radius: 2rem;
  margin: 20px 0;
}

section h1 {
  font-size: 3rem;
  color: #078e99;
  margin-bottom: 1.5rem;
}

.about p {
  padding: 0 .2rem 1rem;
}

section h4 {
  font-weight: normal;
}

section h4 span {
  color: #09c1d0;
  font-weight: bold;
}

.listdiv {
  padding: 1rem;
  margin: .5rem;
  position: relative;
}

.about .listdiv h1 {
  height: 100px;
}

.listdiv ul li {
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  :root {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 10px;
  }
  nav ul {
    display: none;
  }
  nav h1 {
    font-size: 40px;
  } 
  .menubtn {
    display: block;
  }
  nav {
    grid-template-areas: 'title . menu';
  }
}
@media screen and (max-width: 450px) {
  :root {
    font-size: 8px;
  }
}